#tdc-navbar {
  padding-left: 5px;
  padding-right: 5px ;
  padding-top: 0px;
  padding-bottom: 0px;
  background: red;
}

#navbar-container {
  max-width: 1500px;
}

#tdc-nav-link {
  color: ivory;
  font-weight: bold;
}