.App {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.tdc-container {
  max-width: initial;
}

.changeable-area {
  height: 900px;
  background-color: green;
}

#main-row {
  margin: 5px;
}